@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

$color-main: #252525;
$color-sub: rgb(83, 185, 216);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 微軟正黑體;
    color: $color-main;

}

.logo {  
font-family: 'Rubik', sans-serif;
font-size: 35px;
text-decoration: none;
padding: 20px;

&:hover{    
    color: $color-sub;
}
}

#navigation{   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 0;
    box-shadow: 0 5px 2px rgba(0,0,0,0.1);

    .community{ 

        img{
            width: 32px;
            height: 32px;    
            filter: invert(26%) sepia(82%) saturate(5705%) hue-rotate(135deg) brightness(97%) contrast(84%);
            transition: 0.5s;

            &:hover{    
                filter: invert(50%) sepia(20%) saturate(2000%) hue-rotate(187deg) brightness(92%) contrast(116%)
            }
        }
    }
}